# Tutorial 1
tutorial_1/IPQDA_23_TUT_01_data

#Tutorial 2
tutorial_2/IPQDA_23_TUT_02_data
tutorial_2/__MACOSX

# Assignment A
assignment_A/__MACOSX
assignment_A/FTSZ6_1.5x.nd2
assignment_A/tif_files.lnk
assignment_A/images

# Assignment B
assignment_B/__MACOSX
assignment_B/W47-SGFP2-mScarlet-I-01-1_2channels.tif
assignment_B/(ADDITIONAL)PHmScarletIrisSyfpPH.tif

# Assignment C
assignment_C/big-fish-IPQDA/.git
assignment_C/big-fish-IPQDA/data
assignment_C/big-fish-IPQDA/images
assignment_C/big-fish-IPQDA/.gitignore
assignment_C/big-fish-IPQDA/LICENSE
assignment_C/big-fish-IPQDA/README.md

# Assignment D
assignment_D/__MACOSX
assignment_D/IPQDA_23_ASS_D_DATA